<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--<link rel="shortcut icon" href="../static/imgs/favicon.ico"> -->
    <link rel="shortcut icon" href="{{ url_for('static' , filename = 'imgs/favicon.ico') }}">
    <style>
        table, th, td {
          border: 1px solid black;
          text-align: center;
        }
    </style>
</head>
<body>
    <h1>Tabla de Punto Fijo</h1>
    <table style="width:30%">
    <tr>
        <th>Iteraciones</th>
        <th>Xi</th> 
        <th>g(xi)</th>
        <th>f(xi)</th>
        <th>E</th>
    </tr>
    {%for i in iter %}
    <tr>
        <td>{{i}}</td>
        <td>{{xi[i]}}</td>
        <td>{{gx[i]}}</td>
        <td>{{fx[i]}}</td>
        <td>{{er[i]}}</td>
    </tr>
    {%endfor%}
    </table>
    <br/>
    <label> {{string}} </label>
    <br/>
    <p><input type="submit" value="Volver Al Inicio" onclick= "location='/'" class='boton container' ></p>

</body>
</html>