<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Roots Table</title>
    <!--<link rel="shortcut icon" href="../static/imgs/favicon.ico"> -->
    <link rel="shortcut icon" href="{{ url_for('static' , filename = 'imgs/favicon.ico') }}">
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        h1, h3, p, pre{
            text-align: center;
        } 
    </style>
</head>
<body>
    <h1>Multiple Roots Table</h1>
    <table style="width:30%">
    <tr>
        <th>Iterations</th>
        <th>Xn</th> 
        <th>f</th>
        <th>fp</th>
        <th>fpp</th>
        <th>error</th>
    </tr>
    {%for i in lis_a %}
    <tr>
        <td>{{i}}</td>
        <td>{{lis_x0[i]}}</td>
        <td>{{lis_f0[i]}}</td>
        <td>{{lis_f1[i]}}</td>
        <td>{{lis_f2[i]}}</td>
        <td>{{lis_er[i]}}</td>
    </tr>
    {%endfor%}
    </table>
    <br>

    <h3>With an error of: {{e}}</h3>

    <h3>There is a root in: {{g}}</h3> 

    <br>
    <div class="container">
        <div class="col-md-5"></div>
        <div class="center">
            <div class="col-md-6">
                <button type="button" class="btn btn-info btn-lg" onclick= "location='/'">Back to main menu</button>
        </div>
        </div>
        </div>
      </div>

    <br>

</body>
</html>