<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOR</title>
    <!--<link rel="shortcut icon" href="../static/imgs/favicon.ico"> -->
    <link rel="shortcut icon" href="{{ url_for('static' , filename = 'imgs/favicon.ico') }}">
    <style>
        input {
            width: 30%;
          }
        form{
            text-align: center;
        }
        h1{
            text-align: center;
        }
        body {
            padding:10px;
            padding-bottom:60px;   /* Height of the footer */
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:#5BC0DE;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>SOR DATA</h1>

    <form method="post" action="{{ url_for('FlaskSor') }}">
        <label for="m">Enter size of m</label>
        <p><input name="m" type="number" placeholder="Example: 4"></p>
        <label for="n">Enter size of n</label>
        <p><input name="n" type="number" placeholder="Example: 4"></p>
        <label for="A">Enter the elements of the A Matrix separated by space:</label>
        <p><input name="A" type="text" placeholder="Example: 4 -1 0 3 1 15.5 3 8 0 -1.3 -4 1.1 14 5 -2 30"></p>
        <label for="b">Enter the elements of the b vector separated by space:</label>
        <p><input name="b" type="text" placeholder="Example: 1 1 1 1"></p>
        <label for="x0">Enter the elements of the x0 vector separated by space:</label>
        <p><input name="x0" type="text" placeholder="Example: 0 0 0 0"></p>
        <label for="iter">Enter the maximum number of iterations:</label>
        <p><input name="iter" type="number" placeholder="Example: 100"></p>
        <label for="error">Enter the maximum absolute error accepted:</label>
        <p><input name="error" type="text" placeholder="Exaple: 10**-7"></p>
        <label for="w">Enter the lambda of relaxation:</label>
        <p><input name="w" type="text" placeholder="Exaple: 1.5"></p>
        <div class="container">
            <div class="col-xs-4"></div>
            <div class="center">
                <div class="col-xs-4">
                    <input type="submit" class="btn btn-success btn-lg" value="Run">
                    <button type="button" class="btn btn-info btn-lg" onclick= "location='/'">Back</button>
            </div>
            </div>
            </div>
          </div>
    </form>
</body>

<footer>
    <br>
    <div class="footer">
        <p class="text-lg-left" style="width: 125rem"> 
            This method allows for improved convergence using relaxation. The relaxation represents a slight
            modification of the Gauss-Seidel method and it allows to improve the convergence in some cases. 
            After each new value of \(x\) is calculated, that value is modified by a weighted average of the 
            results of the previous and current iterations.
            <br>
            \( X^{k+1} = w x^{k+1} + (1-w)xk  \) Algorithmically it remains: \(X^{k+1}=T_wx^k+Cw\)
        </p>
    </div>
    <br>       
</footer>

</html>